* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('clock.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100px;
    color: #fff5f5;
}